{% extends 'base/main.html' %}
{% block content %}

    <!-- Main content -->
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6" style="color:#002533;">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content margtop">
      <div class="container-fluid">
        <div>
            {% autoescape off %}
            {{ graph|safe }}
            {% endautoescape %}
        </div>
      <!--Graphs-->
    <div class="container">
      <div class="row my-5">
          <div class="col-md-6">
              <div class="bg-white">
                  <canvas id="myChart1" width="400" height="300"></canvas>
                  <script>
                      var ctx = document.getElementById('myChart1').getContext('2d');
                      var myChart1 = new Chart(ctx, {
                          type: 'line',  
                          data: {
                              labels: [{% for op in opf %} '{{op.eta|date:"Y-m-d"}}', {% endfor %}],
                              datasets: [{
                                  label: 'item number',
                                  data: [{% for op in opf %} '{{op.itemNo}}', {% endfor %}],
                                  borderColor: [
                                      'rgba(255, 99, 132, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)',
                                      'rgba(75, 192, 192, 1)',
                                      'rgba(153, 102, 255, 1)',
                                      'rgba(255, 159, 64, 1)'
                                  ],
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          beginAtZero: true
                                      }
                                  }]
                              }
                          }
                      });
                  </script>
              </div>
          </div>
          <div class="col-md-6">
            {{ graphh|safe }}
          </div>
      </div>
  </div>
  <!--End Graphs-->

  <!--Graphs-->
  <div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart11" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart11').getContext('2d');
                    var myChart11 = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: [{% for op in opf %} '{{op.eta|date:"Y-m-d"}}', {% endfor %}],
                            datasets: [{
                                label: 'Products',
                                data: [{% for op in opf %} '{{op.itemNo}}', {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChartt" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChartt').getContext('2d');
                    var myChartt = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [{% for op in opf %} '{{op.eta|date:"Y-m-d"}}', {% endfor %}],
                            datasets: [{
                                label: 'Products',
                                data: [{% for op in opf %} '{{op.itemNo}}', {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>

        <div class="col-md-12">
          <div class="bg-white">
              <canvas id="myCharttt" width="400" height="300"></canvas>
              <script>
                  var ctx = document.getElementById('myCharttt').getContext('2d');
                  var myCharttt = new Chart(ctx, {
                      type: 'radar',
                      data: {
                          labels: [{% for op in opf %} '{{op.eta|date:"Y-m-d"}}', {% endfor %}],
                          datasets: [{
                              label: 'Products',
                              data: [{% for op in opf %} '{{op.itemNo}}', {% endfor %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
              </script>
          </div>
      </div>

    </div>
</div>
<!--End Graphs-->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


{% endblock content %}