{% extends 'base/main.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="color:#002533;">
    <div class="row mb-2" style="padding:5px;">
      <div class="col-sm-6">
        <h1>Files</h1>
      </div>  
      <div class="col-sm-3">
        {% comment %} <a class="btn btn-primary pull-right" href="#" data-toggle="modal" data-target="#modal-primary">Add User</a> {% endcomment %}
      </div>
      <div class="col-sm-3">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
          <li class="breadcrumb-item active"><b>Manage files</b></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content margtop">
<div class="container-fluid">

<div class="card" style="background:#343a40;">
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>customer</th>
          <th>itemNo</th>
          <th>contqnty</th>
          <th>freightBookingNo</th>
          <th>etd</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for file in fileInstance %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ file.user.email }}</td>
          <td>{{ file.itemNo }}</td>
          <td>{{ file.contqnty }}</td>
          <td>{{ file.freightBookingNo }}</td>
          <td>{{ file.etd|date:"Y-m-d" }}</td>
          <td>
            <a class="fa fa-check btn-sm btn-success" title="block" href="#"></a>
            <a class="fa fa-edit btn-sm btn-primary" title="edit" href="#" data-toggle="modal" data-target="#modal-secondary"></a>
            <a class="fa fa-plus btn-sm btn-secondary" title="eloading date" href="#" data-toggle="modal" data-target="#modal-loafum{{file.id}}"></a>
          </td>
        </tr>
        {% endfor %}
  
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>customer</th>
            <th>itemNo</th>
            <th>contqnty</th>
            <th>freightBookingNo</th>
            <th>etd</th>
            <th>Actions</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>


  {% for file in fileInstance %}
  <div class="modal fade" id="modal-loafum{{file.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Assign expected time of loading</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <p class="form-control">CreatedBy: <i>{{file.createdBy}},@{{ file.createdAt|date:"d/m/Y" }}</i></p>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="far fa-clock"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <p class="form-control">updatedBy: <i>{{file.updatedBy}},@{{ file.updatedAt|date:"d/m/Y" }}</i></p>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="far fa-clock"></span>
                  </div>
                </div>
              </div>
            <form action="{% url 'createlofum_url' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="fileId" class="form-control" value="{{file.id}}" required>
                <div class="input-group mb-3">
                  <input type="date" name="EloadingDate" class="form-control" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-clock"></span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-light">Save changes</button>
                  </div>
              </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  {% endfor %}

{% endblock content %}