{% extends 'base/main.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="color:#002533;">
    <div class="row mb-2" style="padding:5px;">
      <div class="col-sm-6">
        <h1>Report</h1>
      </div>  
      <div class="col-sm-3">
        {% comment %} <a class="btn btn-primary pull-right" href="#" data-toggle="modal" data-target="#modal-primary">Add User</a> {% endcomment %}
      </div>
      <div class="col-sm-3">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
          <li class="breadcrumb-item active"><b>Manage reports</b></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content margtop">
<div class="container-fluid">

<div class="card" style="background:#343a40;">
    <!-- /.card-header -->
    <div class="card-body">
        <p> still under development</p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>

{% endblock content %}